<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>
			{% block title %}
			{% endblock %}
		</title>
{# 
		<script src="/assets/js/jquery-3.7.1.min.js"></script> #}

		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

			<!-- Favicons -->
			<link href="/assets/img/favicon.png" rel="icon">
			<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

			<!-- Google Fonts -->
			{# <link href="https://fonts.gstatic.com" rel="preconnect">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> #}

			<!-- Vendor CSS Files -->
			<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
			<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
			<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
			<link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
			<link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
			<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
			<link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">
			{# <link href="/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
			<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
			<script src="/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
			<script>
				$.fn.selectpicker.Constructor.BootstrapVersion = '5';
			</script> #}
			<!-- Template Main CSS File -->
			<link href="/assets/css/style.css" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>


{% include "block/header.html.twig" %}
{% include "block/aside.html.twig" %}

  <main id="main" class="main">

    <div class="pagetitle">
		
      	<h1>{% block pagetitle %}{% trans %}Dashboard{% endtrans %}{% endblock pagetitle %}</h1>
	  	
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">{% trans %}Home{% endtrans %}</a></li>
			{% block breadcrumbs %}
          <li class="breadcrumb-item active">{% trans %}Dashboard{% endtrans %}</li>
		  {% endblock breadcrumbs %}
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          	<div class="row">
				<div class="col-12">
					<div class="card">

					<div class="card-body">

					{% block body %}


					{% endblock %}

					</div>

					</div>
				</div>
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">

            {# <div class="card-body">
              <h5 class="card-title">Recent Activity <span>| Today</span></h5>

            </div> #}
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

{% include "block/footer.html.twig" %}

</body>

</html>