{% extends 'base.html.twig' %}

{% block title %}New Attachment{% endblock %}

{% block body %}
    <h1>Create new Attachment</h1>

    {{ include('attachment/_form.html.twig') }}

    <a href="{{ path('app_attachment_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
